backoff==1.5.0 # rq.filter: <2.0
lxml==3.8.0 # rq.filter: <4.0
paramiko==2.4.1 # rq.filter: <3.0
pytest==3.6.1 # rq.filter: <4.0
python-dateutil==2.7.3 # rq.filter: <3.0
pytz==2018.4
requests==2.19.0 # rq.filter: <3.0
