backoff==1.4.3 # rq.filter: <2.0
lxml==3.8.0 # rq.filter: <4.0
paramiko==2.2.1 # rq.filter: <3.0
pytest==3.2.0 # rq.filter: <4.0
python-dateutil==2.6.1 # rq.filter: <3.0
pytz==2017.2
requests==2.18.3 # rq.filter: <3.0
