<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IATI service status</title>
  {% filter css %}
    {% filter css_minify %}
      {% include 'templates/normalize.css' %}
      {% include 'templates/style.css' %}
    {% endfilter %}
  {% endfilter %}
  </style>
</head>
<body>
  <header>
    <div class="container">
      <h1>IATI service status</h1>
    </div>
  </header>
  <main>
    <section id="summary">
      <div class="container">
        <div class="graph">
          {% include 'templates/chart.svg' %}
          <div class="legend">
            {% for category, tests in tests|groupby('status.category') %}
              <span class="status badge {{ category }} {{ tests|map(attribute='status.style')|first|join(' ') }}">
                {{ tests|count }}
              </span>
              <span>{{ category }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    {% if warnings %}
      <section id="warnings">
        <div class="container">
          {% for warning in warnings %}
            <div class="status badge warning">WARNING</div>
            <div>{{ warning.filename }}:{{ warning.lineno }}<br>{{ warning.message }}</div>
          {% endfor %}
        </div>
      </section>
    {% endif %}
    <section id="test-files">
      <div class="container">
        {% for fspath, tests in tests|groupby('item.fspath') %}
          {% set first_item = tests|map(attribute='item')|first %}
          <details class="file">
            <summary>
              <div class="title file-title">
                {% block module_title scoped %}
                <h2 class="fspath">
                  {% block module_name scoped %}
                  {{ first_item.nodeid.split('::')|first }}
                  {% endblock %}
                </h2>
                <div class="counts">
                {% for category, tests in tests|groupby('status.category') -%}
                  <span title="{{ tests|count }} {{ category }}" class="count status badge {{ category }} {{ tests|map(attribute='status.style')|first|join(' ') }}">{{ tests|count }}</span>
                {%- endfor %}
                </div>
                {% endblock %}
              </div>
            </summary>
            <div class="content box">
              {% block module_content scoped %}
                {% include 'templates/module.html' %}
              {% endblock %}
            </div>
          </details>
        {% endfor %}
      </div>
    </section>
  </main>
  <footer>
    <div class="container">
      Last run: {{ ended|strftime }}
    </div>
  </footer>
</body>
</html>
